<% title 'Criar conta' %>
<h1>Criar conta</h1>

<% form_for @user, :url => signup_path do |f| %>
	<%= f.error_messages %>
	<%= f.label :email %><br />
	<%= f.text_field :email %><br />
	<%= f.label :password %><br />
	<%= f.password_field :password %><br />
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %><br />
	<%= f.check_box :terms_of_service, :checked => true %><%= f.label :terms_of_service %><br />
	<%= f.submit 'Criar conta' %>
<% end %>
